

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Forgot Password</title>
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        
                        
                        <h3>Forgot Password?</h3>
                        <p>Enter your email to receive a code by email</p>
                        <p>Don't have an account? <a href="https://limitless-temple-77311.herokuapp.com" style="color: black">Sign up.</a></p>
                        <form action="/forgotpassword?_method=PUT" method="POST" class="requires-validation" novalidate>
                            <% {%>
                                <div class="col-md-12">
                                <input class="form-control" type="text" name="email" placeholder="Email" aria-required="true" required>
                                </div>

                                <div class="form-button mt-3">
                                    <button id="submit" type="submit" class="btn btn-primary">Get Reset Link!</button>
                                </div>

                                <% if (error != '') { %>
                                    <!-- <div class="alert alert-danger" role="alert"><%- error %></div> -->
                                    <span class="badge"><%- error %></span>
                                <% } %>
                            <%} %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<source src="../sendEmail.js" type="">
</html>

