<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body onload="getUsers()">
    <p>hi</p>
    <%= firstName %> <%= lastName %>
    <%= username %>
    <form action="/logout" method="post" class="requires-validation" novalidate>
            <button id="reset" type="submit">logout</button>
    </form>
    
</body>
<script src="../index.js"></script>
</html>