
<form action="/createuser" method="post">
    <div>
        <legend>Registration</legend>
        <% {%>
            First Name: <input type="text" name="firstname" aria-required="true"/><br><br>
            Last Name:  <input type="text" name="lastname" aria-required="true"/><br><br>
            Username:  <input type="text" name="username" aria-required="true"/><br><br>
            Password:  <input type="password" name="password" aria-required="true" min="6" max="20"/><br><br>
            Confirm Password:  <input type="password" name="confirm password" aria-required="true" min="6" max="20"/><br><br>
            <input type="submit" value="Submit"/><br><br>
            <p id="errormessage"> <%= error %></p><hr>
        <%} %>
    </div>
</form>

<style>
    #errormessage {
        color: red;
    }
</style>